*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: linear-gradient( to right, #CC00FF 30%,  #FF3399 100% );

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient( to right, #CC00FF 30%,  #FF3399 100% );
}
.block{
    background-color: #fff;
    width: 27vw;
    box-shadow: 1px 1px 8px 2px gray;
    margin: 8% auto;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    border-radius: 7px;
}
.block__heading{
    text-align: center;
    padding: 25px;
    font-size: 40px;
    font-weight: 700;
}
.btns{
    display: flex;
    margin-top: 10px;
}
.block__btns__login-btn{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient( to right, #CC00FF 30%,  #FF3399 100% );
    width: 50%;
    border: none;
    border-radius: 5px 0px 0px 5px;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    padding: 14px 30px;
    cursor: pointer;
}
.block__btns__signup-btn{
    font-size: 20px;
    width: 50%;
    font-weight: 600;
    padding: 13px 30px;
    background-color: #fff;
    border: solid 1px gray;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
.block__form__email-address{
    margin: 15px 0;
    padding: 13px 20px;
    font-size: 17px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    width: 100%;
}
.block__form__password{
    padding: 13px 20px;
    font-size: 17px;
    outline: none;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
}
.block__second__form-general{
    margin: 15px 0;
    padding: 13px 20px;
    font-size: 17px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    width: 100%;
}
.block__form.active{
    display: none;
    
}
.block__second__form.active{
    display: block;
}
.block__second__form{
    display: none;
}
.block__text{
    margin-top: 15px;
}
.block__text .block__text-link{
    color: #C127B3;
    font-size: 17px;
}
.block__login-btn{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient( to right, #CC00FF 30%,  #FF3399 100% );
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin:20px 0;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
.block__info-text{
    padding: 10px;
    padding-left: 80px;
    font-size: 18px;
}
.block__info__text-span{
    color: #C127B3;
    cursor: pointer;
}


@media (max-width: 1100px) {
    .block{
        width: 30vw;
    }
}
@media (max-width: 992px) {
    .block{
        width: 45vw;
    }
}
@media (max-width: 768px) {
    .block{
        width: 65vw;
    }
}
@media (max-width: 576px) {
    .block{
        width: 98vw;
    }
}
@media (max-width: 400px) {
    .block{
        width: 98vw;
    }
}
@media (max-width: 330px) {
    .block{
        width: 98vw;
    }
}
